! Exported from https://paletty.dev
! Stupid dots removed by ahamed rumi
*foreground: #ebebeb
*background: #121212
*cursorColor: #d5d5d5

*color0: #150d1f
*color1: #de4a29
*color2: #1ec68e
*color3: #df8d21
*color4: #39a6dd
*color5: #976fee
*color6: #2cb9be
*color7: #d9d9d9
*color8: #77788c
*color9: #de4a29
*color10: #1ec68e
*color11: #df8d21
*color12: #39a6dd
*color13: #976fee
*color14: #2cb9be
*color15: #e2e2e2
